# Running python

This first command in the cell below will start off many notebooks.  It loadsmatplotlib (graphing) tools and numpy (extended math) tools into Python.  It also guarantees your plots will appear in the notebook rather than in a separate window.

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
total_secs = 7684
hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes =  secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining  % 60

If youve just loaded this notebook, you might want to run the commands in the cell above.  This is done by placing your cursor in the cell and hitting the enter key **while** holding down shift, which we will henceforth write as `[Shift]`-`[Enter]`.  After you do that the 5 variables will have the values they were assigned in the cell.

In [3]:
total_secs  + 1

7685

In [4]:
hours

2

In [5]:
minutes

8

In [6]:
secs_still_remaining

484

In [7]:
secs_finally_remaining

4

To look at the values of a set of variables you can do what we just did, typing each variable to Python, but there are some other options.  One is to type a tuple to Python, to look at several variables at once.

In [8]:
(total_secs, hours, minutes, secs_still_remaining,secs_finally_remaining)

(7684, 2, 8, 484, 4)

Another is to use Python's print statement.

In [9]:
print("Hrs =", hours, "mins =", minutes, "secs =", secs_finally_remaining)

Hrs = 2 mins = 8 secs = 4

Some important features of the `print` statement are illustrated.  `print` takes any number of arguments, separated by commas.  The commas are interpreted as spaces.  The final argument is not followed by a comma so print adds a newline character ("\n").  The syntax of `print` is like nothing else in Python (no parens), and has been changed in Python 3.0, but it works as above for Python 2.7.X,  so this is how we'll be using it.

# Python arithmetic

Lets look at each of the lines in the code and see what it computes.  Python has two division operators, '//' and '/'. This is illustrated in the next line.

In [10]:
total_secs // 3600

2

Note that even though the value of *total_secs* is 7684, the value returned is an integer.  The '//' operator always returns integers, rounding off to the nearest integer when necessary.

In [11]:
7200.1//3600

2.0

The '%' operator (also called the **modulus** operator) computes the *remainder* in a division.

In [12]:
total_secs % 3600

484

In [13]:
345.3 % 3

0.30000000000001137

## Basic arithmetic

Multiplication

In [14]:
3 * 2

6

Addition

In [14]:
3 + 2

5

Subtraction

In [15]:
3 - 2

1

Raising to a power

In [15]:
3 ** 2

9

Taking the log.  The next line is log of 3.

In [16]:
log(3)

1.0986122886681098

In regular Python, this would be a `NameError` because the *log function* is not one of the builtin Python math functions.  But because we executed `%pylab` when we started up this notebook, all the extended math functions defined in the `numpy` module are defined.  One of those is `log`.  As an example of some possible pitfalls, we'll compare this `log` with the more vanilla version from the standard Python `math` module.  `math.log` does give the same answers for real numbers.

In [17]:
import math
math.log(3)

1.0986122886681098

By default, math.log does natural logarithms, as does `numpy.log`, so if you dont specify the base, it is **e**.  But unlike the numpy implementation, `math.log` lets you choose other bases.

In [18]:
math.log(3,2)

1.5849625007211563

Trying this with the `numpy.log` raises an exception.  `numpy.log` does take a second argument but it's used for purposes we won't delve into right now.

In [19]:
log(3,2)

TypeError: return arrays must be of ArrayType

In [20]:
from math import e
math.log(e)

1.0

In [21]:
e

2.718281828459045

In [22]:
math.log(4)

1.3862943611198906

In [23]:
math.log(4,2)

2.0

The numpy version of log is pretty geeky. For example, it's defined for complex numbers.

In [24]:
log(3+2j)

(1.2824746787307684+0.5880026035475675j)

The regular Python version of log is not.

In [25]:
math.log(3+2j)

TypeError: can't convert complex to float

The Python *math* module is very spare and lacks a number of important mathematical tools of interest to data scientists.  Later on in this course we will be introduced to the more complete set of tools available in the *numpy* module.

## Student confirmation section

Evaluate the cell below, to find out the value of the expression.  Save your IPython notebook and turn it in.

In [26]:
from math import pi
pow(e,(0+1j)*pi)

(-1+1.2246467991473532e-16j)

In [27]:
log(-1+0j)

3.141592653589793j